<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hichatclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".newFriendsActivity.NewFriendsActivity"></activity>

        <service
            android:name=".service.ChatService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".chatActivity.ChatActivity" />
        <activity android:name=".chatActivity.FriendInfoActivity" />

        <service
            android:name=".service.HeartbeatService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".baseActivity.BaseActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".mainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>